@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #072ac8;
  border: none;
  color: white;
  padding: 15px;
  font-size: 15px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #292e47;
}

p {
  color: #6b708d;
  font-size: 17px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px 10px 70px;

  .header-logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .header-nav-bar {
    padding-bottom: 0px;
    padding-top: 10px;

    .header-list {
      list-style-type: none;
      display: flex;
      align-items: flex-end;
      gap: 70px;
      padding-left: 0;
      margin: 0;
      color: #6b708d;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
}

.main-section {
  display: flex;
  margin: 50px 70px 10px 70px;

  .main-text-div {
    padding: 50px 0 40px 0;
    font-size: 17px;
    width: 50%;
  }

  .main-links-div {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    gap: 40px;

    .text-link {
      align-self: center;
      font-size: 15px;
      font-weight: 600;
      color: #6b708d;
      letter-spacing: 0.2px;
    }
  }
  .main-photo-div {
    position: relative;
    background-image: url("/project1-TT/img/hero-section/hero-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%

    .card-img {
      position: absolute;
      max-width: 500px;
      max-height: 500px;

      .top-left {
        top: 0;
        left: 0;
      }

      .bottom-right {
        bottom: 0;
        right: 0;
      }
    }
  }
}
