@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #072ac8;
  border: none;
  color: white;
  padding: 15px;
  font-size: 17px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #292e47;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #292e47;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  color: #292e47;
}

p {
  color: #6b708d;
  font-size: 20px;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px 10px 70px;

  .header-logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .header-nav-bar {
    padding-bottom: 0px;
    padding-top: 10px;

    .header-list {
      list-style-type: none;
      display: flex;
      align-items: flex-end;
      gap: 70px;
      padding-left: 0;
      margin: 0;
      color: #6b708d;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
}

.main-section {
  display: flex;
  margin: 50px 70px 10px 70px;
  min-height: 800px;

  .main-text-div {
    padding: 100px 0 40px 0;
    font-size: 17px;
    width: 50%;
  }

  .main-links-div {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    gap: 40px;

    .text-link {
      align-self: center;
      font-size: 15px;
      font-weight: 600;
      color: #6b708d;
      letter-spacing: 0.2px;
    }
  }
  .main-photo-div {
    position: relative;
    background-image: url("/project1-TT/img/hero-section/hero-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;

    .card-img {
      position: absolute;
      max-width: 300px;
      max-height: 220px;
    }
    .top-left {
      border-radius: 35px;
      top: 70px;
      left: 0;
    }

    .bottom-right {
      border-radius: 45px;
      bottom: 0;
      right: 50px;
    }
  }
}

.logos-section {
  margin: 100px 70px 100px 70px;

  .logos-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
  }
}

/* Styles for Services Flashcards is included: */
.flashcard-section {
  margin: 50px 70px 70px 70px;
  width: 100%;

  .flashcard-container {
    padding-top: 20px;
    display: flex;
    gap: 80px;

    .flashcard {
      flex: 1;
      max-width: 25%;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;
    }

    .flashcard h3 {
      margin: 20px 20px 5px 20px;
    }

    .flashcard p {
      margin: 5px 20px 40px 20px;
    }

    .flashcard a {
      margin: 5px 20px 20px 20px;
      color: #072ac8;
    }
    .flashcard-img {
      width: 100%;
      height: 60%;
      object-fit: cover;
    }

    .services-img-container {
      background-color: rgba(236, 247, 255);
      margin: 20px;
      border-radius: 50px;
      height: 70px;
      width: 70px;

      .services-img {
        padding: 15px;
        width: 40px;
        
      }
    }
    
  }
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #292e47;
  background-image: url(/project1-TT/img/testimonial-section/orbit.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  min-height: 700px;

  .avatar {
    position: absolute;
    width: 150px;
    height: 150px;
  }

  .top-left {
    top: 40px;
    left: 60px;
  }

  .top-right {
    top: 40px;
    right: 60px;
  }

  .bottom-left {
    bottom: 40px;
    left: 60px;
  }

  .bottom-right {
    bottom: 40px;
    right: 60px;
  }

  .testimonial-h2 {
    color: #f2f4fc;
    margin-bottom: 50px;
  }

  .testimonial-p {
    color: yellow;
    font-size: 20px;
    margin: 100px 150px 150px;
  }

  .testimonial-profile {
    display: flex;
    justify-content: center;
    gap: 10px;

    .profile-name {
      color: #a2d6f9;
      font-size: 15px;
      text-align: left;
      margin: 0;
      margin-top: 5px;
    }

    .profile-company {
      color: white;
      font-size: 10px;
      text-align: left;
      margin: 0;
    }

    .profile-img {
      width: 50px;
      height: 50px;
      border-radius: 60px;
    }
  }
}
